@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.paas-cta {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      #ffdc68 0%,
      #d7a9b2 19.83%,
      #a76cff 36.33%,
      #ffa468 56.83%,
      #ff8668 78.83%,
      #ff6868 100%
    )
    1;
  border-radius: 2px;
}
